<div class="task">
    <div class="task-header">
        <div (click)="onActionClick('detail')" class="task-title">
            {{ task.title }}
        </div>
        <div class="task-due" title="DUE DATE">
            <span class="task-due-text">{{ task.dueDate }}</span>
        </div>
    <div class="task-body">
        <p class="description-text">{{ task.description }}</p>
    </div>
    <div class="task-footer">
        <button (click)="onActionClick('detail')" class="task-button">Details</button>
        <button (click)="onActionClick('edit')" class="task-button">Edit</button>
        <button (click)="onActionClick('delete')" class="task-button">Delete</button>
    </div>
</div>